/* Layout */
.boundingBox{ margin: 0 auto; width: 916px; }

/* Content */

/* Content - Portfolio Listing */


ul#portfolio-filter {
    background: url("../images/icon-tag-green.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    line-height: 29px; /*34*/
    margin: 0;
    padding: 0;
    position: relative;
}
ul#portfolio-filter li{ display:block; float: left;}
ul#portfolio-filter a{ margin-right: 0.2em; padding: 0.5em 1em; background: #fff; color: #000; /*font-weight: bold;*/ text-decoration: none; font-size:14px; }
ul#portfolio-filter a:hover, ul#portfolio-filter a.current{ color: #4F4F4F ; } /*888*/
ul#portfolio-filter a.current{ background-color: #CD0000; } /* #DDD*/


ul#portfolio-list {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
ul#portfolio-list li{ width: 280px; height: 250px; display: block; float: left; margin-right: 18px; overflow: hidden; margin-top:30px; text-align:; font-weight:bold;}
ul#portfolio-list li a{ display: block; overflow: hidden; /*border: 1px solid #CDCDCD; background: #eee;*/ text-align:center;}
ul#portfolio-list li p{ font-size: 13px; line-height: 15px; color: #000; margin: 5px 0; }
#blog_content ul#portfolio-list li{
width:610px !important;
float:none !important;
height:auto !important;
}
#blog_content ul#portfolio-list li a{

}